<!DOCTYPE html>

<head>
    <title>Vega Lite Bar Chart</title>
    <meta charset="utf-8">

    <style media="screen">
			.wrap01 {
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-ms-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
			}

			.col01 {
				padding: 20px;
			}

      .judge {
        font-size: 3em;

      }

    </style>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>
  <div class='container'>
      <div class='header'>
        <a href='/'><h1>Cami & co.</h1></a>
        <!-- Container for the visualization -->
      </div>
      <div>
      
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" multiple="" name="file[]" class="span3" /><br />
        <input type="submit" value="Upload"  class="span2">
      </form>
      </div>

    <div class='wrap01'>
      <img class='col01' width=300 src={{ img }} />
      <img class='col01' src={{ fig }} />
    </div>
    <div class='judge'>
    これは{{label}}です．
    </div>

  </div>

</body>

</html>
